body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

header {
    display: flex;
    margin: 80px;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    max-width: 1440px;
}

main,
footer {
    max-width: 1440px;
}

.blog {
    font-size: 21px;
}

nav>ul {
    display: flex;
    gap: 40px;
}

nav {
    flex: 1;
}

p {
    max-width: 708px;
    margin: 34px auto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #FFFFFF;
    opacity: 60%;
}

ul {
    list-style: none;
}

a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

a>img {
    padding: 6px 12px;
    background-image: url(../Images/Rectangle\ 2.png);
}

h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    max-width: 525px;
    margin: 14px auto;
    margin-bottom: 30px;
}

footer>p {
    text-align: center;
}

main>p {
    text-align: center;
    margin: 14px auto;
}

.Big {
    font-size: 20px;
}

.Image {
    max-width: 896px;
    margin: 28px auto;
}

.aboutMe {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.aboutMe p {
    text-align: left;
    line-height: 25px;
    margin: 0 auto;
}

.search input,
.search input:focus,
.search input:active {
    width: 224px;
    height: 40px;
    border-radius: 32px;
    border: 1px solid rgba(31, 41, 55, 0.6);
    font-family: Roboto;
    font-size: 16px rgba(255, 255, 255, 1);
    position: relative;
    background: rgba(31, 41, 55, 0.6) url(../Images/search.svg) no-repeat scroll 14px 14px;
    padding-left: 30px;
}

button {
    border: none;
    background: #4B5563;
    box-shadow: 0px 15px 30px 0px #00000026;
    width: 35px;
    height: 35px;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.63px;
    text-align: center;
    color: #FFFFFF;
}