body {
    background: linear-gradient(0deg, #F39494, #F39494),
        linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%),
        linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 0 1px;
}

.SubTitle {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    padding: 5em;
    gap: 22px;
    border-radius: 10px;
}

input {
    flex: 1;
    background: #F5F5F5;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', monospace;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #999999;
    padding: 9px;
}

h1 {
    font-family: 'Open Sans', monospace;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    text-align: center;
    color: #333333;
    margin: 0px;
}

p {
    margin-top: 0px;
    font-family: 'Open Sans', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: #666666;
}

a {
    font-family: 'Open Sans', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: #089FE0;
}

label {
    font-family: 'Open Sans', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: #666666;
}

button {
    flex: 1;
    font-family: 'Open Sans', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    padding: 9px;
    text-align: center;
    color: white;
    background: #089FE0;
    border: none;
    border-radius: 5px;
    background-image: url(../Images/Arrow\ 1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
}

label>a {
    font-size: 14px;
}

.inputCompany {
    background: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    border-color: #333333;
    font-family: 'Open Sans', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    color: #333333;
    padding: 9px;
}